body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    max-width: 100vw;
    height: 45vw;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(132, 181, 185);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('lib_bg.jpg');
    background-size: cover;

}
.spotify{
    margin: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}
.tt{
    color: rgb(0, 0, 0);
    background-color: #fff;
    width: 30vw;
    height: 25px;
    border: 3px solid black;
    border-radius: 5%;
}


.lh{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    font-size: 1rem;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
}

input[type="text"]:focus {
    border-color: #007bff;
}

.music-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.music-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s;
}

.music-item:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.music-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.music-item p {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.player {
    margin-top: 30px;
    text-align: center;
}

audio {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

#currentSong {
    margin-top: 10px;
}
